@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

div {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  }
  
  button {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 100px;
    background-color: rgba(8, 12, 25, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    font-size: 25px;
    border-radius: 8px;
    transition: .15s ease;
    transform: scale(1.00);
  }

  button:hover {
    transform: scale(1.05);
  }

  .file-container {
    width: 600px;
    border: 4px dotted black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
  }

  .file-name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .file {
    opacity: 0;
    padding: 5rem;
    width: auto;
    height: 5rem;
  }